// FOOTER
//--------------------------------------
.footer {
    @include column(12);
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: $color-theme;

    @media screen and (min-width: 768px) {
        padding: 40px 0 0 0;
    }

    .footer-content {
        .block-footer-item {
            @include column(12);
            list-style: none;

            li {
                width: $full;
            }

            @media screen and (max-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                margin-bottom: 20px;
            }

            @media screen and (max-width: 576px) {
                &:nth-child(2) {
                    display: none;
                }
            }

            &:nth-child(3) {
                .block-title-footer {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            @media screen and (min-width: 768px) {
                &:first-child {
                    @include column(3);
                }

                &:nth-child(2n) {
                    @include column(2);
                }

                &:nth-child(3n) {
                    @include column(4);
                }

                &:last-child {
                    @include column(3);
                }
            }

            .block-title-footer {
                margin-bottom: 20px;

                .title-item-footer {
                    font-family: 'Rubik Bold';
                    font-weight: 500;
                    margin: 0;
                    font-size: 18px;
                    color: $color-white;
                    text-transform: uppercase;
                }

                .description-footer {
                    font-size: 16px;
                    color: $color-white;
                }
            }

            .social-media {
                margin: 20px 0;

                @media screen and (min-width: 768px) {
                    margin: 10px 0 30px 32px;
                }
            }

            .textwidget p {
                margin: 0;
            }

            .politics-privac {
                width: max-content;
                color: $color-white;
                font-size: 14px;
                display: flex;
                margin: 0px;
                font-family: 'Rubik Bold';
                font-weight: 500;
                transition: .2s all;

                @media screen and (max-width: 768px) {
                    margin: 0 auto;
                }

                &:hover {
                    color: $color-theme-dark;
                }
            }

            .widget_nav_menu {
                .widgettitle {
                    margin: 0;
                    font-size: 18px;
                    color: $color-white;
                    font-family: 'Rubik Bold';
                    font-weight: 500;
                    text-transform: uppercase;
                }

                .menu-menu-rodape-container {
                    .menu {
                        list-style: none;
                        margin: 0;

                        li {
                            a {
                                color: $color-white;
                                font-size: 16px;
                                transition: .2s all;

                                &:hover {
                                    color: $color-theme-dark;
                                }
                            }

                            &:nth-child(6n) {
                                font-family: 'Rubik Bold';
                                font-weight: 500;
                            }

                            &:last-child {
                                font-family: 'Rubik Bold';
                                font-weight: 500;
                            }
                        }
                    }
                }
            }

            // Newsletter
            .tnp-widget-minimal {
                input {
                    height: 40px;
                    padding: 15px;
                    background-color: $color-theme-dark;
                    color: $color-white;
                    border: 1px solid transparent;
                    font-size: 12px;

                    &::placeholder {
                        color: $color-white;
                    }

                    &:last-child {
                        width: $full;
                        padding: 12px 35px;
                        margin-top: 8px;
                        background-color: #fff;
                        color: $color-theme-dark;
                        text-transform: uppercase;
                        font-size: 12px;
                        font-family: 'Rubik Bold';
                        font-weight: 500;
                        cursor: pointer;

                        @media screen and (min-width: 768px) {
                            width: auto;
                        }

                        &:hover {
                            color: $color-white;
                            background-color: transparent;
                            border: 1px solid $color-white;
                        }
                    }
                }
            }
        }
    }



    // Footer bar
    .footer-bar {
        width: $full;
        height: auto;
        background-color: #5a800d;
        padding: 15px 18px;
        margin-top: 20px;

        .copyright {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;

            @media screen and (min-width: 768px) {
                flex-direction: row;
            }

            p {
                margin: 0;
                padding: 0;
                font-size: 12px;
                color: $color-white;
                text-align: center;
                text-transform: uppercase;
            }

            a {
                display: flex;
                margin: 10px 0 0 0;
                transition: .2s all;

                &:hover {
                    opacity: .6;
                }

                @media screen and (min-width: 768px) {
                    position: absolute;
                    right: 0;
                    margin: 0;
                }

                img {
                    width: auto;
                }
            }
        }
    }
}

.social-fixed {
    width: auto;
    height: auto;
    display: none;
    flex-direction: column;
    position: fixed;
    right: 22px;
    bottom: 90px;
    box-shadow: 0 0 10px 1px $color-theme-dark;
    background: transparent;

    @media screen and (min-width: 768px) {
        display: flex;
    }

    a {
        display: flex;
        transition: .2s all;

        &:hover {
            box-shadow: 0 0 10px 1px $color-theme-dark;
        }
    }
}
