// NOT MARGIN
//--------------------------------------
.no-margin {
    margin: 0;
}

// NOT PADDING
//--------------------------------------
.no-padding {
    padding: 0;
}

// PROVIDERS (FORNECEDORES)
//--------------------------------------
.providers {
    @include column(12);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    a {
        @include column(12);
        padding: 0;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .4s all;

        @media screen and (min-width: 768px) {
            height: 150px;
        }

        img {
            width: 135px;
            height: auto;
            display: flex;
            transition: .2s all;
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            opacity: .5;

            &:hover {
                opacity: 1;
                filter: grayscale(0);
                -webkit-filter: grayscale(0);
                -moz-filter: grayscale(0);
                -ms-filter: grayscale(0);
                -o-filter: grayscale(0);
            }
        }
    }
}

// PAGE CONTAINER
//--------------------------------------
.page-container {
    width: $full;
    height: auto;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;

    p {
        margin-top: 0;
        margin-bottom: 45px;

        &:last-child {
            margin-bottom: 25px;
        }
    }

    img {
        width: $full;
        max-width: $full;
    }
}

// MEDIA SOCIAL
//--------------------------------------
.social-media {
    width: 120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        display: flex;
        transition: .2s all;

        &:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
}


// PAGE INTERNAL
//--------------------------------------
#page-internal {
    .providers {
        margin: 0 0 20px 0;
    }

    .home-block {
        margin-bottom: 20px;
    }
}
