.page-contact {
    .address {
        @include column(12);

        @media screen and (min-width: 768px) {
            @include column(3);
        }

        .contact-info {
            .title {
                margin-top: 0;
                margin-bottom: 25px;
            }
        }
    }

    .form-contact {
        @include column(12);
        padding: 0;

        @media screen and (min-width: 768px) {
            @include column(9);
            padding: 0;
        }

        .wpcf7-form-control-wrap {
            textarea {
                min-width: $full;
                max-width: $full;
                min-height: 267px;
                height: 267px;
                margin: 0;
            }
        }
    }
}
