.item-video {
    @include column(12);
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        @include column(6);
    }

    @media screen and (min-width: 1000px) {
        @include column(4);
    }

    @media screen and (min-width: 1200px) {
        @include column(3);
    }

    a {
        width: $full;
        height: auto;
        display: flex;
        flex-direction: column;
        transition: .2s all;

        &:hover {
            .title-video {
                h2 {
                    color: $color-theme-dark;
                }
            }

            .image-video {
                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, .6);
                }

                &::after {
                    content: "";
                    width: 50px;
                    height: 50px;
                    background-image: url('../images/play-button.png');
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }

        .image-video {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;

            img {
                width: $full;
                transition: .2s all;
            }
        }

        .title-video {
            h2 {
                color: $color-black;
                margin: 0;
                line-height: 1.4;
                font-size: 16px;
                transition: .2s all;
            }
        }
    }
}
