// CORES BOXES
//--------------------------------------
$px-radius: 1px;

// CORES BOXES
//--------------------------------------
$info-border: #e3f6fd;
$error-border: #ffdddd;
$success-border: #dfffc6;
$warning-border: #ffe8b1;
$box-txt: #555;


// CORES FORMULÁRIOS
//--------------------------------------
$input-color: #333;
$input-bg: #ffffff;
$input-border: #b5b5b5;
$input--placeholder: $input-color;
$input-error--placeholder: #b01717;


// CORES
//--------------------------------------
$color-theme: #a59685;
$color-theme-dark: #4a4a4a;
$color-black: #000;
$color-white: #fff;

$color-gray: #333;
$color-red: #f00;


// PRODUCT
//--------------------------------------
$product-border: #c5c5c7;
