// PRODUTO EM DESTAQUE
//--------------------------------------
.first-product {
    @include column(12);
    margin-bottom: 60px;
    padding: 0;

    .image-prod-first {
        @include column(12);
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 15px;

        @media screen and (min-width: 768px) {
            @include column(5);
            margin-bottom: 0;
        }

        img {
            width: 100%;
            height: auto;
            transition: .4s all;
            border: 1px solid $product-border;

            &:hover {
                border: 1px solid $color-theme-dark;
                padding: 25px;
            }
        }
    }

    .description-prod-first {
        @include column(12);
        text-align: justify;

        @media screen and (min-width: 768px) {
            @include column(7);
        }
    }
}

// CAROUSEL DE PRODUTOS
//--------------------------------------
.carousel-products {
    width: $full;
    height: auto;

    .product-item-home {
        @include column(12);

        a {
            width: $full;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $product-border;
            transition: .2s all;
            padding: 5px;

            @media screen and (min-width: 480px) {
                height: 210px;
            }

            img {
                width: 100%;
            }

            &:hover {
                padding: 25px;
                border: 1px solid $color-theme-dark;
            }
        }
    }
}
