// HEADER
//--------------------------------------
header {
    width: $full;
    height: auto;

    .header-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #d0d6d5;
        padding: 15px 0;

        @media screen and (min-width: 992px) {
            padding: 0;
        }
    }

    .logo {
        a {
            display: flex;

            img {
                width: 100px;
                height: auto;

                @media screen and (min-width: 768px) {
                    width: auto;
                    max-width: $full;
                }
            }
        }
    }

    .menu {
        display: flex;
        align-items: center;
        position: relative;

        .has-offcanvas & {
            z-index: 100;
        }

        .menu-menu-principal-container {
            display: none;

            @media screen and (min-width: 768px) {
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    font-size: 16px;

                    a {
                        margin: 20px;
                        color: $color-black;
                        font-weight: 500;
                        transition: .2s all;
                        border-bottom: 1px solid transparent;
                        padding: 5px 0;

                        &:hover {
                            color: $color-theme;
                            border-bottom: 1px solid $color-theme;
                        }
                    }
                }
            }

            @media screen and (min-width: 992px) {
                margin-top: -20px;
            }
        }

        .open-menu {
            width: auto;
            z-index: 2;
            padding: 0;
            display: flex;
            justify-content: flex-end;

            @media screen and (min-width: 768px) {
                display: none;
            }

            .hamburger-toggle {
                width: 50px;
                height: 50px;
                position: relative;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0;
                background-color: transparent;
                border-radius: $full;
                cursor: pointer;
                background-color: $color-theme;

                .has-offcanvas & {
                    background-color: $color-theme-dark;
                }
            }

            .hamburger-menu {
                width: 20px;
                height: 16px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
            }

            .line {
                display: block;
                width: $full;
                height: 2px;
                background-color: $color-white;
            }

            .line--middle {
                width: 80%;
            }

            .line--bottom {
                width: 60%;
            }
        }

        .offcanvas {
            width: $full;
            min-height: $full;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            pointer-events: none;
            opacity: 0;
            transform: translateY(20px);
            transition: opacity .5s, transform .3s;
            flex-direction: column;
            background-color: $color-theme;

            @media screen and (min-width: 768px) {
                display: none;
            }

            .menu-menu-principal-container {
                padding: 0;
                list-style: none;
                display: block;

                li {
                    padding: 12px 0;

                    a {
                        color: $color-white;
                        font-size: 18px;
                        font-family: 'Rubik Bold';
                        cursor: pointer;
                    }
                }
            }

            .has-offcanvas & {
                opacity: 1;
                transform: none;
                pointer-events: auto;
            }
        }
    }

    // Api Mobile
    .api-mobile {
        width: 50px;
        height: 50px;
        margin-right: 15px;

        @media screen and (min-width: 768px) {
            margin: 0;
        }

        @media screen and (min-width: 992px) {
            display: none;
        }

        .open-login {
            width: $full;

            &:hover {
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }

            img {
                width: $full;
                display: flex;
            }
        }

        .content-api-mobile {
            background: rgba(0,0,0,.9);
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 200;
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
            overflow: scroll;

            .api {
                @include flex(12);
                display: block;

                .form-api {
                    border-radius: 0;
                    padding: 0;
                    background: transparent;
                    align-items: center;

                    form {
                        width: $full;

                        input, button {
                            padding: 15px;
                            border-radius: 6px;
                            height: 45px;
                            margin-bottom: 10px;
                        }
                    }

                    .password {
                        display: flex;
                        flex-direction: column;

                        button {
                            padding: 12px;
                            margin: 0;
                        }
                    }
                }
            }

            .btn-close {
                width: 50px;
                height: 50px;
                display: flex;
                margin: 50px auto;

                &:hover {
                    -webkit-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    transform: scale(1.2);
                }

                img {
                    width: $full;
                }
            }
        }
    }

    // Bloco da Api Desktop
    .api {
        @include flex(3.2);

        @media screen and (max-width: 992px) {
            display: none;
        }

        .form-api {
            width: $full;
            height: auto;
            padding: 15px 25px;
            display: flex;
            flex-direction: column;
            background-color: $color-theme;
            border-radius: 0 0 10px 10px;

            h2 {
                font-family: 'Rubik Bold';
                font-weight: 500;
                color: $color-white;
                font-size: 18px;
                margin: 0;
                margin-bottom: 5px;
            }

            a {
                color: $color-white;
                font-size: 12px;
                margin-top: 5px;
                transition: .2s all;

                &:hover {
                    color: $color-theme-dark;
                }
            }

            .input-wrapper {
                margin-bottom: 5px;

                input, button {
                    padding: 10px;
                    border: 0;
                    height: 40px;
                    margin-bottom: 0;
                }

                input {
                    width: $full;
                    font-size: 13px;
                    border-radius: 10px 10px 0 0;
                }

                button {
                    background-color: $color-theme-dark;
                    border: 1px solid $color-theme-dark;
                    color: $color-white;
                    font-size: 14px;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: .2s all;

                    &:hover {
                        background-color: $color-theme;
                    }
                }
            }

            .password {
                display: flex;
                flex-direction: row;

                input {
                    flex: 2;
                    border-radius: 0 0 0 10px;
                }

                button {
                    margin-left: 5px;
                    flex: 1;
                    border-radius: 0 0 10px 0;
                }
            }
        }

        .link-billet {
            width: $full;
            text-align: center;
            padding: 10px 0;

            a {
                font-size: 18px;
                font-family: 'Rubik Bold';
                color: $color-theme-dark;
                transition: .2s all;

                &:hover {
                    color: $color-theme;
                }
            }
        }
    }
}

// Apenas na pagina inicial por conta do slider
.header-flutuante {
    @media screen and (min-width: 992px) {
        position: absolute;
        top: 0;
        z-index: 100;
    }
}
